@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.api-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 4rem;
    box-sizing: border-box;
}

.api-docs {
    display: flex;
    flex-direction: column;
}

.api-docs * {
    font-family: 'Roboto', sans-serif;
}

.doc-sec {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.doc-sec span {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif !important;
    background: var(--light);
    padding: 0.2rem;
    border-radius: 5px;
    margin: 0.5rem 0 0.5rem 0;
}

.doc-sec span span.type {
    background: var(--primary);
    color: white;
    font-weight: 500;
}

.doc-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}

.doc-sub table {
    border-collapse: collapse;
}

.doc-sub th {
    text-align: left;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    font-weight: 400;
    border-bottom: 2px solid var(--darker-light);
}

.doc-sub td {
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
}