.conversion-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.conversion-container .conversion-area {
    height: 100%;
    width: 40%;
    position: relative;
    box-shadow: 0 0 5px 2px rgba(0,0,0, 0.1);
    border-radius: 5px;
}

.conversion-container .CodeMirror {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

.CodeMirror * {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif, monospace;
}

.conversion-container .conversion-operations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
}

.conversion-operations select {
    width: 100%;
    font-size: 1.2rem;
}

.hidden {
    display: none !important;
}

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
}

.loader {
    background: transparent;
    border: 10px solid white;
    border-top: 10px solid var(--primary); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}