body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

main .menu {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

.logo {
    width: 100%;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 2rem 0 0 2rem;
}

.logo .first {
    color: var(--primary);
}

.logo .second {
    color: var(--secondary);
}

.name {
    width: 100%;
    font-weight: 500;
    margin: 0 0 2rem 2rem;
}

.menu .menu-element {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 500;
    color: var(--darker-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu .menu-element:hover {
    background: var(--light);
    color: var(--dark);
}

.menu .menu-element.active {
    color: var(--dark);
    box-shadow:inset -2px 0 0 0 var(--dark);
}

main .content {
    box-sizing: border-box;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: var(--light);
}

.hidden {
    display: none !important;
}

.content-banner {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
}

.content-banner.error {
    background: var(--error);
}

.content-banner.info {
    background: var(--success);
}