<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ctox - @ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" >
</head>
<body>
<main>
    <div class="menu">
        <div class="inner">
            <div class="logo">
                <span class="first">C</span><span class="second">TO</span><span class="first">X</span>
            </div>
            <div class="name">
                <span>@User.Identity.Name</span>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <a href="/Home/Secret"><i class="fa fa-user-secret" aria-hidden="true"></i> Secret</a>
            }
            <a href="/Auth/Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</main>
</body>
</html>