<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ctox - @ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="avatar-menu" hidden>
   <a href="/Auth/Logout">Logout</a>
</div>
<header>
    <div class="logo">
        <span class="first">C</span><span class="second">TO</span><span class="first">X</span>
    </div>
    <div id="avatar" class="avatar" onclick="toggleMenu()">
        <span>
            @User.Identity.Name <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
    </div>
</header>
<main>
    <div class="menu">

    </div>
    <div class="content">
        @RenderBody()
    </div>
</main>

<script >
toggleMenu = () => {
    let menu = document.getElementById("avatar-menu");
    if (menu.hidden) {
        showMenu();
    } else {
        menu.hidden = true;
    }
}
showMenu = () => {
    let avatar = document.getElementById("avatar");
    let menu = document.getElementById("avatar-menu");
    menu.hidden = false;
    
    let rect = avatar.getBoundingClientRect();
    console.log(rect);
    menu.style.top = (rect.top + rect.height + 10) + "px";
    menu.style.left = (rect.left -  menu.getBoundingClientRect().width + rect.width) + "px";
}
</script>
</body>
</html>