@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, CtoxWebApp

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ctox - @ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Home/home.css">
    @RenderSection("head", false)
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<main>
    <div class="menu">
        <div class="logo">
            <a href="/">
                <span class="first">C</span><span class="second">TO</span><span class="first">X</span>
            </a>
        </div>
        <div class="name">
            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i> @User.Identity.Name</span>
        </div>
        <a asp-action="Index" asp-controller="Home" class="menu-element" active-class="active">Convert</a>
        <a asp-action="History" asp-controller="Home" class="menu-element" active-class="active">History</a>
        <a asp-action="Subscription" asp-controller="Home" class="menu-element" active-class="active">Subscription</a>
        <a asp-action="Api" asp-controller="Home" class="menu-element" active-class="active">Api</a>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Manage" asp-controller="Home" class="menu-element" active-class="active">Manage</a>
        }

        <a asp-action="Logout" class="menu-element" asp-controller="Auth">Logout</a>
    </div>
    <div class="content">
        <div class="content-banner hidden"></div>
        @RenderBody()
    </div>
</main>
<script >
function showErrorMessage(msg) {
    showBanner("error", msg, 5000);
}

function showInfoMessage(msg) {
    showBanner("info", msg, 2000);
}

function showBanner(type, msg, timeout) {
    $(".content-banner").addClass(type);
    $(".content-banner").text(msg);
    $(".content-banner").removeClass("hidden");
    setTimeout(() => {
        $(".content-banner").addClass("hidden");
        $(".content-banner").removeClass(type);
    }, timeout);
}
</script>
</body>
</html>