@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, CtoxWebApp

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ctox - @ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/Home/home.css">
    @RenderSection("head", false)
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<main>
    <div class="menu">
        <div class="logo">
            <span class="first">C</span><span class="second">TO</span><span class="first">X</span>
        </div>
        <div class="name">
            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i> @User.Identity.Name</span>
        </div>
        <a asp-action="Index" asp-controller="Home" active-class="active">Convert</a>
        <a asp-action="History" asp-controller="Home" active-class="active">History</a>
        <a asp-action="Balance" asp-controller="Home" active-class="active">Balance</a>
        <a asp-action="Api" asp-controller="Home" active-class="active">Api</a>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Manage" asp-controller="Home" active-class="active">Manage</a>
        }

        <a asp-action="Logout" asp-controller="Auth">Logout</a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</main>
</body>
</html>