@model CtoxWebApp.Models.UserModel.View.UserRegister
@{
    Layout = "_Auth";
    ViewData["title"] = "Register";
    ViewData["image-location"] = "res/register_left.png";
}

@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    <h1>Sign up to CTOX</h1>
    @Html.EditorForModel()
    <input type="submit" class="filled" value="Register"/>
    <span class="different-page">or @Html.ActionLink("Login now", "Login", "Auth")</span>  
}