@{
    ViewData["title"] = "Api";
    Layout = "_Home";
    string apiKey = ViewData["api-key"] as string;
}

<div class="api-container">
    <div class="api-key">
        <h2>Your api key</h2>
        <div class="api-getter">
            <div class="api-input">
                <div class="api-key-input">
                    <span>
                        @if(apiKey.Length == 0)
                        {
                            <text>you don't have an api key</text>
                        }
                        else
                        {
                            <text>@apiKey</text>
                        }
                    </span>
                </div>
                <button title="Copy" onclick="copyApiKey()"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
            </div>
            <button id="generate-button" class="filled" onclick="regenerateApiKey()">Generate</button>
        </div>
    </div>
    <div class="api-docs">
        <div class="doc-sec">
            <h2>Authentication</h2>
            <div class="doc-sub">
                <h3>Basics</h3>
                <p>
                    CTOX uses api key authetication. On every request to api endpoint you should include your api key
                    in the header. You can get and regenerate yout api key in the section above. All unauthorized
                    access will be blocked with 401 response code.
                </p>
            </div>
            <div class="doc-sub">
                <h3>Request example</h3>
                <p>Each request should contain <span>x-api-key</span> header containing your api key.</p>
                <span>x-api-key: THEREgoesYOURapiKEY</span>
            </div>
            <div class="doc-sub">
                <h3>Errors</h3>
                <p>Every unauthorized access (which include both: invalid api key and absence of header) returns 401 response code.</p>
                <span>Status: 401 Unauthorized</span>
            </div>
        </div>
        <div class="doc-sec">
            <h2>Test</h2>
            <span><span class="type">GET</span> /api/test</span>
            <div class="doc-sub">
                <h3>Basics</h3>
                <p>
                    You can test your connection to api server and/or your api key with this endpoint.
                    On success some predefined payload will be sent with 200 status code.
                </p>
            </div>
            <div class="doc-sub">
                <h3>Parameters</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>In</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span>json</span></td>
                        <td>no</td>
                        <td>boolean</td>
                        <td>query</td>
                        <td>should response be in json format. default is false.</td>
                    </tr>
                </table>
            </div>
            <div class="doc-sub">
                <h3>Request example</h3>
                <span><span class="type">GET</span> https://ctox.com/api/test?json=false</span>
            </div>
        </div>
        <div class="doc-sec">
            <h2>Parse</h2>
            <span><span class="type">POST</span> /api/parse</span>
            <div class="doc-sub">
                <h3>Basics</h3>
                <p>
                    Main api endpoint, used to parse C code. Attention: your api key is used to authenticate all
                    actions made to this endpoint, thus restrictions are applied on service usage. In order
                    to test your connection or api key use <span>/api/test</span>.
                </p>
            </div>
            <div class="doc-sub">
                <h3>Parameters</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>In</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span>json</span></td>
                        <td>no</td>
                        <td>boolean</td>
                        <td>query</td>
                        <td>should response be in json format. default is false.</td>
                    </tr>
                    <tr>
                        <td><span>data</span></td>
                        <td>yes</td>
                        <td>string</td>
                        <td>body</td>
                        <td>c code to parse. should be escaped.</td>
                    </tr>
                </table>
            </div>
            <div class="doc-sub">
                <h3>Request example</h3>
                <span><span class="type">POST</span> https://ctox.com/api/parse?json=true</span>
                <span>{ "data": "int main() { return 0; }" }</span>
            </div>
            <div class="doc-sub">
                <h3>Errors</h3>
                <p>400 response code - payload is empty (no c code)</p>
                <p>429 response code - timeout (too many requests, each account type has different timeout)</p>
                <p>405 response code - payload max size exceeded</p>
            </div>
        </div>
        <div class="doc-sec">
            <h2>History</h2>
            <span><span class="type">GET</span> /api/history</span>
            <div class="doc-sub">
                <h3>Basics</h3>
                <p>
                    This method allows to view all previously made requests to parsing service via <span>/api/parse</span>.
                    Every program code and result tree is stored in zipped version, so in order to view the contents you shall use <span>/api/view</span>.
                    Additional parameters extend this method to be more specific, see parameters section.
                </p>
            </div>
            <div class="doc-sub">
                <h3>Parameters</h3>
                <p>
                    Parameters extend this method to more specific search function.
                    Important: parameters are applied to output history in this specific order:
                </p> 
                <p><b>day -> ascending -> skip -> limit</b></p>
                <p>Ignoring this order may lead to undefined result.</p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>In</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span>day</span></td>
                        <td>no</td>
                        <td><span>yyyy-MM-dd</span> format date</td>
                        <td>query</td>
                        <td><b>date</b> of the request. no time included. default is any.</td>
                    </tr>
                    <tr>
                        <td><span>ascending</span></td>
                        <td>no</td>
                        <td>boolean</td>
                        <td>query</td>
                        <td>should be result ordered by ascending date. default is true.</td>
                    </tr>
                    <tr>
                        <td><span>skip</span></td>
                        <td>no</td>
                        <td>integer</td>
                        <td>query</td>
                        <td>how many requests should be skipped in result. default is 0.</td>
                    </tr>
                    <tr>
                        <td><span>limit</span></td>
                        <td>no</td>
                        <td>integer</td>
                        <td>query</td>
                        <td>maximum amount of requests. default is infinity.</td>
                    </tr>
                </table>
            </div>
            <div class="doc-sub">
                <h3>Request example</h3>
                <span><span class="type">GET</span> https://ctox.com/api/history?ascending=false&skip=3</span>
            </div>
        </div>
        <div class="doc-sec">
            <h2>View</h2>
            <span><span class="type">GET</span> /api/view</span>
            <div class="doc-sub">
                <h3>Basics</h3>
                <p>
                    Allows to view content of particular request in unzipped format. Original parsing type (xml or json)
                    and indentation is preserved. In order to use this method you shall obtain id
                    of the request via <span>/api/history</span>.
                </p>
            </div>
            <div class="doc-sub">
                <h3>Parameters</h3>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Required</th>
                        <th>Type</th>
                        <th>In</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span>id</span></td>
                        <td>yes</td>
                        <td>integer</td>
                        <td>query</td>
                        <td>id of the request.</td>
                    </tr>
                </table>
            </div>
            <div class="doc-sub">
                <h3>Request example</h3>
                <span><span class="type">GET</span> https://ctox.com/api/view?id=3</span>
            </div>
            <div class="doc-sub">
                <h3>Errors</h3>
                <p>400 response code - no id is supplied</p>
                <p>404 response code - id is invalid (either no request with such id was made or it doesnt belong to specific user)</p>
            </div>
        </div>
    </div>
</div>

<script>
    function copyApiKey() {
        let copyText = $(".api-key-input span").text();
        if (copyText.length === 0) return;
        let textArea = document.createElement("textarea");
        textArea.value = copyText;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("Copy");
        textArea.remove();
        showInfoMessage("Copied");
    }

    function regenerateApiKey() {
        let prevText = $("#generate-button").text();
        $("#generate-button").html('<i class="fa fa-refresh fa-spin"></i>');

        $.ajax({
            url: "@Url.Action("Create", "Api")",
            type: "GET",
            success: function (data) {
                $(".api-key-input span").text(data.key);
            },
            complete: function() {
                $("#generate-button").html(prevText);
            }
        });
    }
</script>

@section head {
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Home/api.css">
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
}