.error-message {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--error);
}

.error-message span {
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
}

.container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.container .illust {
    height: 100%;
    width: 40vw;
    box-sizing: border-box;
}

.container .illust img {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.container .auth-main {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-main form {
    width: 45%;
}

.editor-label {
    font-weight: 600;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    font-family: Arial, sans-serif;
    width: 100%;
    background: var(--light);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
    margin-bottom: 20px;
    font-size: 15px;
}

input[type="text"]:hover, input[type="password"]:hover {
    background: white;
    box-shadow: 0 0 0 5px var(--light);
}

input[type="submit"] {
    font-size: 1rem;
    width: 30%;
}

