body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--dark);
    box-sizing: border-box;
    position: relative;
}

#avatar-menu {
    position: absolute;
    background: white;
    right: 0;
    width: 150px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

#avatar-menu a {
    display: block;
    width: 100%;
    padding: 3px 0 3px 10px;
    box-sizing: border-box;
}

#avatar-menu a:hover {
    background: var(--light);
}

header {
    width: 100%;
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 40px;   
}

.logo {
    font-weight: 700;
    font-size: 2.5rem;
}

.logo span {
    color: white;
}

.avatar {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.avatar span {
    color: white;
}

.avatar span .fa {
    color: white;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

main .menu {
    width: 200px;
}

main .content {
    flex-grow: 1;
    background: white;
}