body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

main .menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    box-shadow:inset -1px 0 0 0 var(--light);
}

.logo {
    width: 100%;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 2rem 0 0 2rem;
}

.logo .first {
    color: var(--primary);
}

.logo .second {
    color: var(--secondary);
}

.name {
    width: 100%;
    font-weight: 500;
    margin: 1rem 0 2rem 2rem;
}

.menu a {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu a:hover {
    background: var(--light);
}

.menu a.active {
    background: var(--light);
}

main .content {
    flex-grow: 1;
}